@{
    ViewBag.Title = "Contacto";
}
@section Levels
{
    <link rel="stylesheet" href="~/Content/Levels.css">

}

<h3>@ViewBag.Message</h3>

<form class="form-group" action="@Url.Action("RecibirContacto","Home")" , method="post">
    <label>Ingrese su nombre</label>
    <input type="text" name="nombre" required> <br>

    <label>Ingrese su correo electronico</label>
    <input type="email" name="email" required /><br>

    <label>Mensaje: </label>
    <textarea name="mensaje" maxlength="140" required></textarea><br>

    <button type="submit" class="btn btn-danger">Enviar</button>
</form>
