@{
    ViewBag.Title = "Contacto";
}
@section Levels
{
    <link rel="stylesheet" href="~/Content/Levels.css">

}

<h2>@ViewBag.Message</h2>
<div class="col-md-8 col-md-offset-2 col-sm-offset-2 col-sm-8">
    <div>
        <img id="formulario" src="~/Content/Images/Logo.png" />
        <form class="form-group" action="@Url.Action("RecibirContacto","Home")" , method="post">
            <label class="col-form-label" for="formGroupExampleInput" type="text" name="nombre" required>Ingrese su nombre</label>
            <input type="text" class="form-control" id="formGroupExampleInput" required>
            <label for="exampleFormControlInput1" type="email" name="email" required>Ingrese su correo electronico</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" required>
            <label for="exampleFormControlTextarea1">Mensaje</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="mensaje" required></textarea>
            <button type="submit" class="btn btn-avanzado">Enviar</button>
        </form>
    </div>
</div>