
@{
    ViewBag.Title = "Funcional";
}
@section Levels
{
    <link rel="stylesheet" href="~/Content/Levels.css">

}
<div class="intro">
    <h1>¿Que es el Entrenamiento funcional?</h1>
    <p>
        El entrenamiento funcional es una disciplina que consiste en trabajar los diferentes músculos del organismo
        a través de un circuito. <br /> Los ejercicios que se realizan durante este entrenamiento simulan la actividad de los músculos día a día.
        Trabajan todas las capacidades motrices y permiten movilizar varios grupos musculares en simultaneo.
        No se trabajan musculos aislados como en otros tipos de entrenamiento, ni se enfoca en ganar tamaño, sino fuerza muscular.
        <br />Esta modalidad se puede realizar sin la necesidad de ir a un gimnasio y con el propio peso corporal, por lo
        que se puede realizar sin problemas en casa. Ademas las sesiones
        duran entre 20-30 minutos, y suelen ser de alta intensidad logrando muy buenos resultados si se entrena periodicamente.
    </p>
</div>